<md-toolbar layout-align="center center">
    <div layout-align="center center"
         class="md-toolbar-tools">Prueba</div>
</md-toolbar>

<md-content layout="column"
            flex>
    <div layout="column"
         layout-margin>
        <md-input-container>
            <label>Nombre</label>
            <input ng-model="$ctrl.name">
        </md-input-container>
        <div layout="row"
             layout-align="space-between center">
            <md-button class="md-raised"
                       ng-click="$ctrl.sayHello()">Saludar</md-button>
        </div>

        <div layout="row"
             layout-align="space-between center">
            <md-button class="md-raised"
                       ng-click="$ctrl.registerEvents()">Registrar</md-button>
        </div>

        <div layout="row"
             layout-align="space-between center">
            {{ $ctrl.lastMessage }}
        </div>
    </div>

</md-content>